<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vacation Planner</title>
        <link rel="stylesheet" href="../static/style.css">
        <script defer src="../static/scripts/script.js" type="module"></script>
    </head>
    <body>
        <header>
            <h1>Vacation Planner</h1>
            <p>Find hotels, restaurants, and attractions near your vacation spot</p>
        </header>

        <section class="search-form">
            <h2>Enter Your Vacation Location</h2>
            <form id="location-form">
                <input type="text" id="location-input" placeholder="New York, Manhattan" required>
                <button type="submit">Search</button>
            </form>
        </section>
        <div id="loading-overlay" class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-70 hidden z-50">
            <div class="loader"></div>
        </div>
        <section id="results" class="hidden">
            <div class="result-section" id="hotels">
                <h3 id="hotel-header">Nearby Hotels <span class="header-loader" style="display:none;"></span></h3>
                <ul id="hotel-list"></ul>
                <button id="show-more-hotels" class="show-more-btn">Show More Hotels</button>
            </div>
            <div class="result-section" id="restaurants">
                <h3 id="restaurant-header">Nearby Restaurants <span class="header-loader" style="display:none;"></span></h3>
                <ul id="restaurant-list"></ul>
                <button id="show-more-restaurants" class="show-more-btn">Show More Restaurants</button>
            </div>
            <div class="result-section" id="attractions">
                <h3 id="attraction-header">Nearby Tourist Attractions <span class="header-loader" style="display:none;"></span></h3>
                <ul id="attraction-list"></ul>
                <button id="show-more-attractions" class="show-more-btn">Show More Attractions</button>
                
            </div>
        </section>
        
        <footer id="footer" class="absolute">
            <p>&copy; 2025 Vacation Planner</p>
        </footer>
        <div id="hover-preview" style="display: none;">
            <img id="hover-preview-img" src="" alt="Preview" />
        </div>
        <!-- <script src="../scripts/script.js"></script> -->
    </body>
</html>