<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vacation Planner</title>
        <link rel="stylesheet" href="../static/style.css">
        <script defer src="../static/scripts/script.js" type="module"></script>
    </head>
    <body>
        <header>
            <h1>Vacation Planner</h1>
            <p>Find hotels, restaurants, and attractions near your vacation spot!</p>
        </header>

        <section class="search-form">
            <h2>Enter Your Vacation Location</h2>
            <form id="location-form">
                <input type="text" id="location-input" placeholder="Enter location" required>
                <button type="submit">Search</button>
            </form>
        </section>

        <section id="results" class="hidden">
            <div class="result-section" id="hotels">
                <h3>Nearby Hotels</h3>
                <ul id="hotel-list"></ul>
                <button id="show-more-hotels" class="show-more-btn">Show More Hotels</button>
            </div>
            <div class="result-section" id="restaurants">
                <h3>Nearby Restaurants</h3>
                <ul id="restaurant-list"></ul>
                <button id="show-more-restaurants" class="show-more-btn">Show More Restaurants</button>
            </div>
            <div class="result-section" id="attractions">
                <h3>Nearby Tourist Attractions</h3>
                <ul id="attraction-list"></ul>
                <button id="show-more-attractions" class="show-more-btn">Show More Attractions</button>
                
            </div>
        </section>
        
        <footer id="footer" class="absolute">
            <p>&copy; 2025 Vacation Planner</p>
        </footer>
        <!-- <div id="hover-preview" class="hidden">
            <a id="hover-link" href="" target="_blank">View on Google Maps</a>
        </div> -->
        <!-- <script src="../scripts/script.js"></script> -->
    </body>
</html>